<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.dao.MemberDao">
	<insert id="saveMember" parameterType="Member">
		INSERT INTO member(
			id,
			password,
			name,
			gender,
			birth,
			mail,
			phone,
			address,
			grade,
			reg
		)
		VALUES(
			#{id},
			#{password},
			#{name},
			#{gender},
			#{birth},
			#{mail},
			#{phone},
			#{address},
			#{grade},
			sysdate
		)
	</insert>
	<select id="getGeneralMemberList" resultType="Member">
		select id, password, name, gender,birth, mail, phone, address, grade from Member
		where grade = '일반'

	</select>
	
	<select id="getAdminMemberList" resultType="Member">
		select id, password, name, gender,birth, mail, phone, address, grade from Member
		where grade = '관리자'

	</select>
	
	<select id="getAllMemberList" resultType="Member">
		select id, password, name, gender,birth, mail, phone, address, grade from Member

	</select>
</mapper>